namespace Game
{
    class Content
    {
    {{ . }}
    {{- range $name, $fields := .classes -}}
        public static class {{ $name }} {
        {{- range $field := $fields }}
            public const string {{ $field.Name }} = @"{{ $field.Value }}";
        {{- end }}
        }
    {{- end }}
    }
}
